<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    
    <header>
        <h1>Smart Budget</h1>
        <h3 class="h3">Track|Save|Grow</h3>
    </header>
    

        {% block content %} {% endblock %}

     
    <footer class="navbar">
        <a href="/" class="nav-item {% if active_page == 'home' %}active{% endif %}">
            <i class="fas fa-home"></i> Home
        </a>
        <a href="/expenses" class="nav-item {% if active_page == 'expenses' %}active{% endif %}">
            <i class="fas fa-credit-card"></i> Expenses
        </a>
        <a href="/reports" class="nav-item {% if active_page == 'reports' %}active{% endif %}">
            <i class="fas fa-chart-line"></i> Reports
        </a>
        <a href="/accounts" class="nav-item {% if active_page == 'accounts' %}active{% endif %} ">
            <i class="fas fa-user"></i> Accounts
        </a>
    </footer>
    <script src="{{ url_for('static', filename='js/base.js') }}" defer></script>
</body>
</html>